@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');

a:link {
  color: #FAEBD7;
  text-decoration: none;
}

a:visited {
  color: #FAEBD7;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:active {
  color: white;
  text-decoration: underline;
}

body {
  background-color: #242331; }

.homepage {
  text-align: center;
  position: center;
  max-width: 1000px;
  margin: auto;
  border: 1px transparent #000; }

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 44px;
  color: white;
  width: auto;
  height: auto;
  display: inline-block; }

h2 {
  font-family: 'Quicksand', sans-serif;
  color: white;
  height: auto;
  position: center;
  display: inline-block; }

.homepage-blurb {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: white;
  margin-top: -30px;
  margin-bottom: 30px; }

nav ul {
			margin-bottom: 0;
      display: flex;
			list-style: none;
			padding-left: 0;
			border: solid 2px #ffffff;
      background: ;
			border-radius: 5px;
		}

			nav ul li {
			  flex-grow: 100;
        border-left: solid 2px #ffffff;
				padding-left: 0;
			}

        nav ul li:first-child {
					border-left: 0;
				}

        nav ul li a:link {
          color: #FAEBD7;
          text-decoration: none;
        }

        nav ul li a:visited {
          color: #FAEBD7;
          text-decoration: none;
        }

				nav ul li a:hover {
						background-color: rgba(255, 255, 255, 0.075);
					}

				nav ul li a:active {
						background-color: rgba(255, 255, 255, 0.175);
					}

		nav.use-middle:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: calc(50% - 1px);
			width: 1px;
			height: 100%;
			background: #ffffff;
		}

		nav.use-middle ul li.is-middle {
			border-left: 0;
		}

ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

		ul.icons li {
			display: inline;
			padding: 0 0.75em 0 0;
		}

			ul.icons li:last-child {
				padding-right: 0;
			}

				ul.icons li a:hover {
	        background: white;
				}

				ul.icons li a:active {
          background: white;
				}
