@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');

body {
  animation: fadeIn 1s linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a:link {
  color: #FAEBD7;
  text-decoration: none;
}

a:visited {
  color: #FAEBD7;
  text-decoration: none;
}

a:hover {
  color: #f3e9dc;
  text-decoration: underline;
}

a:active {
  color: #f3e9dc;
  text-decoration: underline;
}

body {
  background-color: #4B111B;
}


.homepage {
  text-align: center;
  position: center;
  top: 50%;
  transform: translate(0%, 100%);
  max-width: 1000px;
  margin: auto;
}

.title {
  font-family: 'Quicksand', sans-serif;
  font-size: 3.5em;
  color: #f3e9dc;
  font-weight: 900;
}

.title .letter {
  display: inline-block;
  line-height: 1em;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  color: #f3e9dc;
  position: center;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1.5px #f3e9dc;
  margin-right: -1px;
  margin-left: -1px;
  }

.homepage-blurb {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  color: #f3e9dc;
  margin-top: -30px;
  margin-bottom: 30px;
  position: relative;
  }

.homepage-blurb .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.homepage-blurb .letter {
  display: inline-block;
  transform-origin: 0 0;
}

.work .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.work .letter {
  display: inline-block;
  transform-origin: 0 0;
}

.projects .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.projects .letter {
  display: inline-block;
  transform-origin: 0 0;
}

.education .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.education .letter {
  display: inline-block;
  transform-origin: 0 0;
}

.bio .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.bio .letter {
  display: inline-block;
  transform-origin: 0 0;
}

nav ul {
      display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
      display: flex;
			list-style: none;
			padding: 0 0 0 0;
		}

			nav ul li {
			  flex-grow: 100;
			}

        nav ul li:first-child {
					border-left: 0;
				}

        nav ul li a {
					display: block;
					min-height: 1.75rem;
					line-height: 1.75rem;
					text-transform: uppercase;
					letter-spacing: 0.1rem;
					border-bottom: 0;
				}

        nav ul li a:link {
          color: #FAEBD7;
          text-decoration: none;
        }

        nav ul li a:visited {
          color: #FAEBD7;
          text-decoration: none;
        }

				nav ul li a:hover {

					}

				nav ul li a:active {

					}



		nav.use-middle ul li.is-middle {
			border-left: 0;
		}

ul.icons {
		cursor: default;
		list-style: none;
		padding-right: 100px;
	}

		ul.icons li {
			display: inline-block;
			padding: 0 0.75em 0 0;
		}

			ul.icons li:last-child {
				padding-right: 0;
			}

				ul.icons li a:hover {

				}

				ul.icons li a:active {

				}

.hvr-grow {
    display: inline-block;
    vertical-align: center;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
  }

  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
      transform: scale(1.25);
  }

  /* Rectangle Out */
  .work {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .work:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f3e9dc;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .work:hover, .work:focus, .work:active {
    color: #4B111B;
  }
  .work:hover:before, .work:focus:before, .work:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .projects {
    display: block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .projects:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f3e9dc;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .projects:hover, .work:focus, .work:active {
    color: #4B111B;
  }
  .projects:hover:before, .work:focus:before, .work:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .education {
    display: block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .education:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f3e9dc;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .education:hover, .work:focus, .work:active {
    color: #4B111B;
  }
  .education:hover:before, .work:focus:before, .work:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .bio {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .bio:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f3e9dc;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .bio:hover, .work:focus, .work:active {
    color: #4B111B;
  }
  .bio:hover:before, .work:focus:before, .work:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
